[default]

[default-rand]
features_dir = features/rand_features

# investigating the number of iterations

[500-steps]
num_steps = 500

[500-steps-rand]
features_dir = features/rand_features
num_steps = 500

[1000-steps]
num_steps = 1000

[1000-steps-rand]
features_dir = features/rand_features
num_steps = 1000

[2000-steps]
num_steps = 2000

[2000-steps-rand]
features_dir = features/rand_features
num_steps = 2000

# investigating alpha

[alpha-0.5]
alpha = 0.5

[alpha-0.5-rand]
alpha = 0.5
features_dir = features/rand_features

[alpha-1.0]
alpha = 1.0

[alpha-1.0-rand]
alpha = 1.0
features_dir = features/rand_features

[alpha-2.0]
alpha = 2.0

[alpha-2.0-rand]
alpha = 2.0
features_dir = features/rand_features

[alpha-3.0]
alpha = 3.0

[alpha-3.0-rand]
alpha = 3.0
features_dir = features/rand_features

[alpha-4.0]
alpha = 4.0

[alpha-4.0-rand]
alpha = 4.0
features_dir = features/rand_features

[alpha-6.0]
alpha = 6.0

[alpha-6.0-rand]
alpha = 6.0
features_dir = features/rand_features

[alpha-7.0]
alpha = 7.0

[alpha-7.0-rand]
alpha = 7.0
features_dir = features/rand_features

[alpha-8.0]
alpha = 8.0

[alpha-8.0-rand]
alpha = 8.0
features_dir = features/rand_features

[alpha-9.0]
alpha = 9.0

[alpha-9.0-rand]
alpha = 9.0
features_dir = features/rand_features

[alpha-10.0]
alpha = 10.0

[alpha-10.0-rand]
alpha = 10.0
features_dir = features/rand_features

# investigating the learning rate

[lr-0.01-steps-200]
alpha = 3.0
learning_rate = 0.01
num_steps = 200

[lr-0.01-rand-steps-200]
alpha = 3.0
learning_rate = 0.01
num_steps = 200
features_dir = features/rand_features

[lr-0.01-steps-500]
alpha = 3.0
learning_rate = 0.01
num_steps = 500

[lr-0.01-rand-steps-500]
alpha = 3.0
learning_rate = 0.01
num_steps = 500
features_dir = features/rand_features

[lr-0.02-steps-200]
alpha = 3.0
learning_rate = 0.02
num_steps = 200

[lr-0.02-rand-steps-200]
alpha = 3.0
learning_rate = 0.02
num_steps = 200
features_dir = features/rand_features

[lr-0.02-steps-500]
alpha = 3.0
learning_rate = 0.02
num_steps = 500

[lr-0.02-rand-steps-500]
alpha = 3.0
learning_rate = 0.02
num_steps = 500
features_dir = features/rand_features

[lr-0.05-steps-200]
alpha = 3.0
learning_rate = 0.05
num_steps = 200

[lr-0.05-rand-steps-200]
alpha = 3.0
learning_rate = 0.05
num_steps = 200
features_dir = features/rand_features

[lr-0.05-steps-500]
alpha = 3.0
learning_rate = 0.05
num_steps = 500

[lr-0.05-rand-steps-500]
alpha = 3.0
learning_rate = 0.05
num_steps = 500
features_dir = features/rand_features

[lr-0.005-steps-200]
alpha = 3.0
learning_rate = 0.005
num_steps = 200

[lr-0.005-rand-steps-200]
alpha = 3.0
learning_rate = 0.005
num_steps = 200
features_dir = features/rand_features

[lr-0.005-steps-500]
alpha = 3.0
learning_rate = 0.005
num_steps = 500

[lr-0.005-rand-steps-500]
alpha = 3.0
learning_rate = 0.005
num_steps = 500
features_dir = features/rand_features

[lr-0.005-steps-1000]
alpha = 3.0
learning_rate = 0.005
num_steps = 1000

[lr-0.005-rand-steps-1000]
alpha = 3.0
learning_rate = 0.005
num_steps = 1000
features_dir = features/rand_features

[lr-0.002-steps-200]
alpha = 3.0
learning_rate = 0.002
num_steps = 200

[lr-0.002-rand-steps-200]
alpha = 3.0
learning_rate = 0.002
num_steps = 200
features_dir = features/rand_features

[lr-0.002-steps-500]
alpha = 3.0
learning_rate = 0.002
num_steps = 500

[lr-0.002-rand-steps-500]
alpha = 3.0
learning_rate = 0.002
num_steps = 500
features_dir = features/rand_features

[lr-0.002-steps-1000]
alpha = 3.0
learning_rate = 0.002
num_steps = 1000

[lr-0.002-rand-steps-1000]
alpha = 3.0
learning_rate = 0.002
num_steps = 1000
features_dir = features/rand_features

[lr-0.002-steps-2000]
alpha = 3.0
learning_rate = 0.002
num_steps = 2000

[lr-0.002-rand-steps-2000]
alpha = 3.0
learning_rate = 0.002
num_steps = 2000
features_dir = features/rand_features

[lr-0.001-steps-200]
alpha = 3.0
learning_rate = 0.001
num_steps = 200

[lr-0.001-rand-steps-200]
alpha = 3.0
learning_rate = 0.001
num_steps = 200
features_dir = features/rand_features

[lr-0.001-steps-500]
alpha = 3.0
learning_rate = 0.001
num_steps = 500

[lr-0.001-rand-steps-500]
alpha = 3.0
learning_rate = 0.001
num_steps = 500
features_dir = features/rand_features

[lr-0.001-steps-1000]
alpha = 3.0
learning_rate = 0.001
num_steps = 1000

[lr-0.001-rand-steps-1000]
alpha = 3.0
learning_rate = 0.001
num_steps = 1000
features_dir = features/rand_features

[lr-0.001-steps-2000]
alpha = 3.0
learning_rate = 0.001
num_steps = 2000

[lr-0.001-rand-steps-2000]
alpha = 3.0
learning_rate = 0.001
num_steps = 2000
features_dir = features/rand_features

[lr-0.001-steps-4000]
alpha = 3.0
learning_rate = 0.001
num_steps = 4000

[lr-0.001-rand-steps-4000]
alpha = 3.0
learning_rate = 0.001
num_steps = 4000
features_dir = features/rand_features

# playing around with keep_prob
[keep-0.1]
alpha = 3.0
learning_rate = 0.01
num_steps = 500
keep_prob = 0.1

[keep-0.1-rand]
alpha = 3.0
learning_rate = 0.01
num_steps = 500
keep_prob = 0.1
features_dir = features/rand_features

[keep-0.2]
alpha = 3.0
learning_rate = 0.01
num_steps = 500
keep_prob = 0.2

[keep-0.2-rand]
alpha = 3.0
learning_rate = 0.01
num_steps = 500
keep_prob = 0.2
features_dir = features/rand_features

[keep-0.3]
alpha = 3.0
learning_rate = 0.01
num_steps = 500
keep_prob = 0.3

[keep-0.3-rand]
alpha = 3.0
learning_rate = 0.01
num_steps = 500
keep_prob = 0.3
features_dir = features/rand_features

[keep-0.4]
alpha = 3.0
learning_rate = 0.01
num_steps = 500
keep_prob = 0.4

[keep-0.4-rand]
alpha = 3.0
learning_rate = 0.01
num_steps = 500
keep_prob = 0.4
features_dir = features/rand_features

[keep-0.5]
alpha = 3.0
learning_rate = 0.01
num_steps = 500
keep_prob = 0.5

[keep-0.5-rand]
alpha = 3.0
learning_rate = 0.01
num_steps = 500
keep_prob = 0.5
features_dir = features/rand_features

[keep-0.6]
alpha = 3.0
learning_rate = 0.01
num_steps = 500
keep_prob = 0.6

[keep-0.6-rand]
alpha = 3.0
learning_rate = 0.01
num_steps = 500
keep_prob = 0.6
features_dir = features/rand_features

[keep-0.7]
alpha = 3.0
learning_rate = 0.01
num_steps = 500
keep_prob = 0.7

[keep-0.7-rand]
alpha = 3.0
learning_rate = 0.01
num_steps = 500
keep_prob = 0.7
features_dir = features/rand_features

[keep-0.8]
alpha = 3.0
learning_rate = 0.01
num_steps = 500
keep_prob = 0.8

[keep-0.8-rand]
alpha = 3.0
learning_rate = 0.01
num_steps = 500
keep_prob = 0.8
features_dir = features/rand_features

[keep-0.9]
alpha = 3.0
learning_rate = 0.01
num_steps = 500
keep_prob = 0.9

[keep-0.9-rand]
alpha = 3.0
learning_rate = 0.01
num_steps = 500
keep_prob = 0.9
features_dir = features/rand_features

[keep-1.0]
alpha = 3.0
learning_rate = 0.01
num_steps = 500
keep_prob = 1.0

[keep-1.0-rand]
alpha = 3.0
learning_rate = 0.01
num_steps = 500
keep_prob = 1.0
features_dir = features/rand_features


[dummy]
features_dir = features/features
features_size = 2048
space_size = 4
num_steps = 200
batch_size = 64
keep_prob = 0.8
alpha = 5.0
learning_rate = 0.01